body,
html {
  width: 100%;
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  color: #ffffff;
  background: url(./img/ironbg1.jpg), #000000;
  background-size: contain;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  font-family: "Roboto", sans-serif;
  max-width: 1080px;
}

p {
  text-align: justify;
  text-justify: inter-word;
}

#header {
  padding: 5px 0px;
  color: #ffffff;
  text-align: center;
  margin: auto;
  border-bottom: 1px solid;
}

h3 {
  font-weight: 900;
}

.logo {
  float: left;
  height: 50px;
  font-size: 18px;
  line-height: 20px;
}

.container {
  padding: 20px;
  margin: auto;
  width: 100%;
  align-content: center;
  overflow-x: hidden;
}
nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li > a {
  display: block;
  color: rgb(255, 255, 255);
  padding: 14px 16px;
  text-decoration: none;
  float: right;
}

.right {
  float: right;
}

.left {
  float: left;
}

table {
  border-collapse: collapse;
  max-width: 100%;
}

th,
td {
  padding: 15px;
  text-align: center;
  border: 1px solid #a4a4a4;
  height: 30px;
}

th {
  min-width: 125px;
  text-align: center;
  background-color: #ececec49;
}

#image {
  float: left;
  padding: 0px 20px 20px 0px;
}

#content {
  max-width: 450px;
  padding: 30px 20px;
  color: #daa520;
  margin-top: 50px;
  align-items: flex-end;
}

#content h2 {
  font-size: 16px;
  font-weight: normal;
}

.list_box {
  width: 100%;
  overflow: hidden;
  display: inline-block;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}

#identity {
  overflow: auto;
}

.thumbnail {
  display: inline-block;
  height: auto;
  padding: 4px;
  margin-bottom: 20px;
  background-color: #ffffff;
  border: 1px solid #fff;
  text-align: center;
  align-items: center;
  color: rgb(0, 0, 0);
  margin: 50px;
}

input[type="text"] {
  padding: 14px 70px;
  font-size: 15px;
  margin-bottom: 30px;
}

input[type="submit"] {
  background-color: #26211f;
  border: none;
  color: white;
  font-size: 16px;
  margin: 4px -4px;
  padding: 16px 40px;
}

footer {
  padding: 5px;
  color: rgb(255, 255, 255);
  border-top: 1px solid;
  margin: auto;
}

footer p {
  text-align: center;
}
